<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Mattias</h1>
        <nav>
            <ol>
                <li>
                    @Html.ActionLink("About Me", "index")

                </li>
                <li>
                    @Html.ActionLink("Golf", "Swing")

                </li>
                <li>
                  
                    @Html.ActionLink("Kontakt", "Kontakt")
                </li>
                <li>
                
                    @Html.ActionLink("Bakery", "Index", "Bakery")
                </li>
                <li>
                    @Html.ActionLink("Todo session", "Index", "Todomemo")
                </li>
                <li>
                    @Html.ActionLink("Make To Do", "MakeToDo", "Todomemo")
                </li>
            </ol>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div> @DateTime.Now</div> 
        <p>Made by:&copy;  Mattias Gustavsson </p>
    </footer>
</body>
</html>
